body{
  background-image: url("wp2416367.jpeg");
  background-size: cover;
  background-repeat: no-repeat;
}

h1 {
  text-align: center;
  font-family: 'Press Start 2P';
  font-size: 30px;
}

.wholeboard{
  display: flex;
  justify-content: space-evenly;
  text-align: center;
}

.scoreboard {
  float: right;
  font-size: 20px;
}

.timer {
  float: right;
  font-size: 20px;
}

.dirt {
  /* border: black 1px solid; */
  width: 100px;
  height: 100px;
  cursor: pointer;
  float: left;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: bottom;
  overflow: hidden;
  position: relative;
  background-image: url("transparent.png");
}

.dirt::after {
  z-index: 1;
}

.startbutton {
  display: flex;
  justify-content: center;

}

.grid {
  display: grid;
  justify-content: center;
}

.row {
  display: block;
  float:left;
  width:100%;
}

.diglett {
  background-image: url("diggif.gif");
  background-size: contain;
  z-index: 2;
  width: 100px;
  height: 100px;
  cursor: pointer;
  float: left;
  background-repeat: no-repeat;
  overflow: hidden;
  position: relative;
  animation: pop-up .3s;
}

.shinyDiglett {
  background-image: url("shinydiggif.gif");
  background-size: contain;
  z-index: 2;
  width: 100px;
  height: 100px;
  cursor: pointer;
  float: left;
  background-repeat: no-repeat;
  overflow: hidden;
  position: relative;
  animation: pop-up .3s;
}

.dugtrio {
  background-image: url("dugtriogif.gif");
  background-size: contain;
  z-index: 2;
  width: 100px;
  height: 100px;
  cursor: pointer;
  float: left;
  background-repeat: no-repeat;
  overflow: hidden;
  position: relative;
  animation: pop-up .3s;
}

.shinyDugtrio {
  background-image: url("dugtrioshiny.gif");
  background-size: contain;
  z-index: 2;
  width: 100px;
  height: 100px;
  cursor: pointer;
  float: left;
  background-repeat: no-repeat;
  overflow: hidden;
  position: relative;
  animation: pop-up .3s;
}

.alolanShinyDiglett {
  background-image: url("alolandigshinygif.gif");
  background-size: contain;
  z-index: 2;
  width: 100px;
  height: 100px;
  cursor: pointer;
  float: left;
  background-repeat: no-repeat;
  overflow: hidden;
  position: relative;
  animation: pop-up .3s;
}

.alolanShinyDugtrio {
  background-image: url("alolandugtrioshiny.gif");
  background-size: contain;
  z-index: 2;
  width: 100px;
  height: 100px;
  cursor: pointer;
  float: left;
  background-repeat: no-repeat;
  overflow: hidden;
  position: relative;
  animation: pop-up .3s;
}

.pikachu {
  background-image: url("pikachu.gif");
  background-size: contain;
  z-index: 2;
  width: 100px;
  height: 100px;
  cursor: pointer;
  float: left;
  background-repeat: no-repeat;
  overflow: hidden;
  position: relative;
  animation: pop-up .3s;
}

.whacked {
  background-image: url("whacked.png");
  background-size: contain;
}

.dirt::after {
  display: block;
  background: url(transparent.png);
  background-size: contain;
  background-repeat: no-repeat;
  z-index: 1;
}

@keyframes pop-up{
  0%{
transform : scale(.5);
transform-origin: bottom;
  }
  
  100%{
transform: scale(1);
transform-origin: bottom;
  }
}