@font-face {
  font-family: pokemon;
  src: url("img/Pokemon\ Solid.ttf");
}

body{
  background-image: url("img/wp2416367.jpeg");
  background-size: cover;
  background-repeat: no-repeat;
  font-family: pokemon;
}

.grid {
  text-align: center;
  font-size: 60px;
  text-shadow: 7px 7px 7px #3166ac;
  -webkit-text-stroke-width: 3px;
  -webkit-text-stroke-color: #3166ac;
  color: #f1c406;
  height: 100vh;
  display: flex;
}

.wholeboard{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  text-align: center;
  cursor: url("img/picopico.cur"), auto;
  height: 100vh;
  width: 100;
}

.score, .highscore, .timer {
  display: inline-block;
  text-align: center;
  font-size: 25px;
  color: #f1c406;
  text-shadow: 5px 5px #3166ac;
  -webkit-text-stroke-width: 3px;
  -webkit-text-stroke-color: #3166ac;
}

.scoresheet {
  font-size: 25px;
  color: #f1c406;
  text-shadow: 5px 5px #3166ac;
  -webkit-text-stroke-width: 3px;
  -webkit-text-stroke-color: #3166ac;
  width: 10%;
  height: 90vh;
  float: left;
  display: flex;
  flex-direction: column;
}

.dirt {
  width: 100px;
  height: 100px;
  cursor: url("img/picopico.cur"), auto;
  float: left;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: bottom;
  overflow: hidden;
  position: relative;
  background-image: url("img/transparent.png");
}

.dirt::after {
  z-index: 1;
}

.startbutton {
  display: flex;
  justify-content: center;
}

.grid {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
}

.gridholder{
  display: flex;
  flex-direction: column;
  width: 50%;
  font-size: 28px;
  text-shadow: 2px 2px #3166ac;
  -webkit-text-stroke-width: 3px;
  -webkit-text-stroke-color: #3166ac;
  color:#f1c406;
  font-family: pokemon;
  cursor: url("img/picopico.cur"), auto;
}

.row {
  display: flex;
  justify-content: center;
  width:100%;
}

.diglett {
  background-image: url("img/diggif.gif");
  background-size: contain;
  z-index: 2;
  width: 100%;
  height: 100%;
  float: left;
  background-repeat: no-repeat;
  overflow: hidden;
  position: relative;
  animation: pop-up .4s;
}

.shinyDiglett {
  background-image: url("img/shinydiggif.gif");
  background-size: contain;
  z-index: 2;
  width: 100%;
  height: 100%;
  float: left;
  background-repeat: no-repeat;
  overflow: hidden;
  position: relative;
  animation: pop-up .4s;
}

.dugtrio {
  background-image: url("img/dugtriogif.gif");
  background-size: contain;
  z-index: 2;
  width: 100%;
  height: 100%;
  float: left;
  background-repeat: no-repeat;
  overflow: hidden;
  position: relative;
  animation: pop-up .3s;
}

.shinyDugtrio {
  background-image: url("img/dugtrioshiny.gif");
  background-size: contain;
  z-index: 2;
  width: 100%;
  height: 100%;
  float: left;
  background-repeat: no-repeat;
  overflow: hidden;
  position: relative;
  animation: pop-up .3s;
}

.alolanShinyDiglett {
  background-image: url("img/alolandigshinygif.gif");
  background-size: contain;
  z-index: 2;
  width: 100%;
  height: 100%;
  float: left;
  background-repeat: no-repeat;
  overflow: hidden;
  position: relative;
  animation: pop-up .3s;
}

.alolanShinyDugtrio {
  background-image: url("img/alolandugtrioshiny.gif");
  background-size: contain;
  z-index: 2;
  width: 100%;
  height: 100%;
  float: left;
  background-repeat: no-repeat;
  overflow: hidden;
  position: relative;
  animation: pop-up .3s;
}

.pikachu {
  background-image: url("img/pikachu.gif");
  background-size: contain;
  z-index: 2;
  width: 100%;
  height: 100%;
  float: left;
  background-repeat: no-repeat;
  overflow: hidden;
  position: relative;
  animation: pop-up .3s;
}

.dirt::after {
  display: block;
  background: url(img/transparent.png);
  background-size: contain;
  background-repeat: no-repeat;
  z-index: 1;
}

@keyframes pop-up {
  0%{
    top: 100%;
  }

  10%{
    top: 90%
  }

  20%{
    top: 80%
  }

  30%{
    top: 70%
  }

  40%{
    top: 60%
  }

  50%{
    top: 50%;
  }

  60%{
    top: 40%;
  }

  70%{
    top: 30%;
  }

  80%{
    top: 20%;
  }

  90%{
    top: 10%;
  }

  100%{
    top: 0;
  }
}

.button {
  border: none;
  background-color: transparent;
  padding: 15px 32px;
  text-align: center;
  display: inline-block;
  font-size: 25px;
  text-shadow: 2px 2px #3166ac;
  -webkit-text-stroke-width: 3px;
  -webkit-text-stroke-color: #3166ac;
  color:#f1c406;
  font-family: pokemon;
  cursor: url("img/picopico.cur"), auto;
}

.pics {
  width: 5vw;
  height: 5vh;
  display: inline-block;
  text-align: center;
  object-fit: contain;
}

.pics:hover {
  transform: scale(2.5);
}

.scoreboard{
  display: flex;
  flex-direction: column;
  width: 13%;
}

.points, .timer, .highscore {
  margin-right: -120px;
  text-align: center;
  color: #f1c406;
  text-shadow: 5px 5px #3166ac;
  -webkit-text-stroke-width: 3px;
  -webkit-text-stroke-color: #3166ac;
  width: 100%;
  font-size: 25px;
}

.points{
  font-size: 20px;
}

.dirt:hover{
  cursor: url("img/picopico.cur"), auto;
}

.points {
  height: 40%;
}
